In [1]:
import pandas as pd
import numpy as np

In [3]:
path = 'assignment5.xlsx'

In [20]:
df = pd.read_excel(path, sheet_name ='list')

In [21]:
df.head(10)

   Price
0    110
1    105
2    115
3    120
4    110
5    130
6    150
7    100
8    105

In [16]:
from sklearn.preprocessing import MinMaxScaler

In [17]:
scaler = MinMaxScaler()

In [18]:
scaler

MinMaxScaler()

In [23]:
df['normal'] = scaler.fit_transform(df[['Price']])

In [25]:
df.head(10)

   Price  normal
0    110     0.2
1    105     0.1
2    115     0.3
3    120     0.4
4    110     0.2
5    130     0.6
6    150     1.0
7    100     0.0
8    105     0.1

In [26]:
from sklearn.preprocessing import StandardScaler

In [29]:
std = StandardScaler()

In [30]:
std

StandardScaler()

In [31]:
df['STD'] = std.fit_transform(df[['Price']])

In [32]:
df.head(10)

   Price  normal       STD
0    110     0.2 -0.416356
1    105     0.1 -0.757011
2    115     0.3 -0.075701
3    120     0.4  0.264954
4    110     0.2 -0.416356
5    130     0.6  0.946264
6    150     1.0  2.308884
7    100     0.0 -1.097666
8    105     0.1 -0.757011

In [33]:
from sklearn.preprocessing import RobustScaler

In [34]:
rs = RobustScaler()

In [35]:
df['Robust'] = rs.fit_transform(df[['Price']])

In [37]:
df.head(10)

   Price  normal       STD    Robust
0    110     0.2 -0.416356  0.000000
1    105     0.1 -0.757011 -0.333333
2    115     0.3 -0.075701  0.333333
3    120     0.4  0.264954  0.666667
4    110     0.2 -0.416356  0.000000
5    130     0.6  0.946264  1.333333
6    150     1.0  2.308884  2.666667
7    100     0.0 -1.097666 -0.666667
8    105     0.1 -0.757011 -0.333333

In [38]:
from sklearn.preprocessing import FunctionTransformer

In [43]:
ft = FunctionTransformer(np.log1p)

In [44]:
ft

FunctionTransformer(func=<ufunc 'log1p'>)

In [45]:
df['log'] = ft.fit_transform(df[['Price']])

In [46]:
df.head(10)

   Price  normal       STD    Robust       log
0    110     0.2 -0.416356  0.000000  4.709530
1    105     0.1 -0.757011 -0.333333  4.663439
2    115     0.3 -0.075701  0.333333  4.753590
3    120     0.4  0.264954  0.666667  4.795791
4    110     0.2 -0.416356  0.000000  4.709530
5    130     0.6  0.946264  1.333333  4.875197
6    150     1.0  2.308884  2.666667  5.017280
7    100     0.0 -1.097666 -0.666667  4.615121
8    105     0.1 -0.757011 -0.333333  4.663439